#login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    #left {
        width: 20%;
        height: 100dvh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--main-blue);
    }

    #right {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100dvh;
        width: 80%;
    }
}