.listMedicines {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*Give me a light white-beige kinda color like offwhite background color*/
    background-color: #f5f5f5;
    border-radius: 10px;
    /*this outline is not displayed cannot see it*/

    border: 1px solid rgb(71, 141, 255);
    /* Tomato color */
    /*give me some modern box shadow*/
    box-shadow: 0 0 10px var(--color-shadow);
    transition: transform 500ms,
        background-color 500ms,
        border-color 500ms;
    /* Add transition for transform, background-color, and border-color */
}

.ant-modal-body p {
    color: #333333 !important;
}