.search-bar {
    margin-bottom: 20px;
}
.search-bar input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:focus {
        outline: var(--main-blue) auto 1px;
    }
}
