
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-number {
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s; /* Transition added for smooth color change */
  }
  
  .page-number.active {
    background-color: var(--main-blue);
    color: white;
  }
  
  .arrow {
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s;
  }
  
  .arrow:hover {
    background-color: #ddd;
  }
  
  .ellipsis {
    margin: 0 4px;
    font-weight: bold;
  }