/* PrescriptionContainer.css */
.prescription-container {
    display: flex;
    overflow-x: auto;
    padding: 2%;
}

.prescription-card {
    flex: 0 0 auto;
    margin-right: 2%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
