.requests-table-container{
    & a {
        color: var(--main-blue);
    }
    & h4{
        background-color: var(--complementary-yellow);
        color: aliceblue;
        padding: 5px;
        border-radius: 8px;
        width: fit-content;
    }
}
