/* Blue Shades */
:root {
    & body.light-mode {
        --main-blue: #0a86fa;
        --background-color: #f5f5f5;
        --main-text-color: #333333;
        --sidebar-text-color: #333333;
        --secondary-text-color: #d9d9d9;
        --header-items: #fff;
        --nav-bar: #ddd;
        --back-button: #ddd;
        --back-hover: #cbcbcb;
        --header: #0a86fa;
        --footer: #0a86fa;
        --siderbar-item: #bfbfbf;
        --siderbar-item-hover: #cbcbcb;
        --svg-color: #292929;
        --border-sidebar-item: rgba(0, 0, 0, 0.5);
        --background-color-input: #ddd;
        --background-color-input-border: #CCCCCC;
        --nav-bar-selected-hovered: #333333;
        --color: var(--text-light);
        --color-shadow: rgba(0, 0, 0, 0.1);
        --accent-background-color: #ffffff;
        --card-border: #f0f0f0;
        --news-card: #ddd;
        --dashboard-secondary:rgba(0, 0, 0, 0.45);
    }

    & body.dark-mode {
        --main-blue: #0050b3;
        --background-color: #111827;
        --main-text-color: #d9d9d9;
        --sidebar-text-color: #bcbcbc;
        --secondary-text-color: #333333;
        --header-items: #fff;
        --nav-bar: #0d1119;
        --back-button: #ccc;
        --back-hover: #fff;
        --header: #0050b3;
        --footer: #0050b3;
        --siderbar-item: #b2b2b2;
        --siderbar-item-hover: #d1d1d1;
        --svg-color: #fff;
        --border-sidebar-item: rgba(0, 0, 0, 0.5);
        --background-color-input: #111827;
        --background-color-input-border: rgba(204, 204, 204, 0.4);
        --nav-bar-selected-hovered: #333333;
        --color: var(--text-dark);
        --color-shadow: rgba(5, 5, 5, 0.4);
        --accent-background-color: #1F2937;
        --card-border: #000;
        --news-card:#0d1119;
        --dashboard-secondary:  rgba(255, 255, 255, 0.45);
        
    }
}

:root {
    --complementary-red: #ff4d4f;
    /* Contrasting color for accents and interactive elements */
    --complementary-blue: #1890ff;
    /* Cool contrast for links and other interactive elements */
    --complementary-yellow: #ffd666;
    /* Warm contrast for attention-grabbing elements */
    --complementary-gray: #bfbfbf;
    /* Neutral gray for backgrounds or subtle UI elements */
    --medium-gray: #ddd;
    /* Medium gray for sidebar  */
    --low-medium-gray: #cbcbcb;
    /* Low-Medium gray for sidebar  */
}